################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/cqrs_medR/FileContentIndex/7668b836-87ca-44ce-a224-f1e0df3b880b.vsidx
/UserCRUDWebAPI_CQRS_MediatR/.vs/UserCRUDWebAPI_CQRS_MediatR/FileContentIndex/31860467-d202-4207-9ce1-c202c1cd5f02.vsidx
/UserCRUDWebAPI_CQRS_MediatR/.vs/UserCRUDWebAPI_CQRS_MediatR/FileContentIndex/52cfac03-1b16-4263-b6c2-de2a4d81fb96.vsidx
/UserCRUDWebAPI_CQRS_MediatR/.vs/UserCRUDWebAPI_CQRS_MediatR/FileContentIndex/d7987bb1-81b6-4013-9044-929405acbcfe.vsidx
/UserCRUDWebAPI_CQRS_MediatR/.vs/UserCRUDWebAPI_CQRS_MediatR/FileContentIndex/8bce0f1e-157b-4322-b5f6-3e87fe76bafa.vsidx
/UserCRUDWebAPI_CQRS_MediatR/.vs/UserCRUDWebAPI_CQRS_MediatR/FileContentIndex/b17d4fa3-d56d-43c6-a61c-2bc7541d324f.vsidx
/UserCRUDWebAPI_CQRS_MediatR/.vs/UserCRUDWebAPI_CQRS_MediatR/FileContentIndex/d3702cab-62f2-4f9e-bade-0bd9a5581a26.vsidx
/UserCRUDWebAPI_CQRS_MediatR/.vs/UserCRUDWebAPI_CQRS_MediatR/FileContentIndex/241f6d3a-8812-46c2-807c-592529fd8c09.vsidx
/UserCRUDWebAPI_CQRS_MediatR/.vs/UserCRUDWebAPI_CQRS_MediatR/FileContentIndex/47d17ffc-3d17-4c3c-9eee-fca2b6be8134.vsidx
/UserCRUDWebAPI_CQRS_MediatR/.vs/UserCRUDWebAPI_CQRS_MediatR/FileContentIndex/64ef5210-7160-40d1-8e2d-1d2202b4bc56.vsidx
/UserCRUDWebAPI_CQRS_MediatR/.vs/UserCRUDWebAPI_CQRS_MediatR/FileContentIndex/433ef8af-eb08-4dd4-a3dd-46a21d5252a6.vsidx
/UserCRUDWebAPI_CQRS_MediatR/.vs/UserCRUDWebAPI_CQRS_MediatR/FileContentIndex/4f9f5070-8b5a-4bb0-9ed7-1e83aad953f7.vsidx
/UserCRUDWebAPI_CQRS_MediatR/.vs/UserCRUDWebAPI_CQRS_MediatR/FileContentIndex/b76420f6-d442-4dcd-9602-a8e963a9a907.vsidx
/UserCRUDWebAPI_CQRS_MediatR/.vs/UserCRUDWebAPI_CQRS_MediatR/FileContentIndex/f18bab34-1eff-48bb-9ae1-3b85d91c7efb.vsidx
